################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DbTableExporter
/DbTableExporter/obj
/DbTableExporter.Tests/obj
/.vs
